/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rubik&display=swap');

/*Site Default Settings*/

*{
    margin: 0;
    padding: 0;
    border:none;
}

html {
    scroll-padding-top: 5em;
  }

body{
       font-family: Rubik,sans-serif;     
       color: #333
}

/*Setting Image to fit Div tags*/
img {
    max-width: 100%;
    max-height: 100%;
}

/*Reusable elements*/

.text-center{
    text-align: center;
}
 hr{
border-bottom: 1px solid #333;
width:98%;
margin: 0 auto;
  
}

h1{
    font-family: Caveat,sans-serif;
    letter-spacing: 4px;
    font-size:280%;    
    text-transform: uppercase;
    color: #A90D0D;
    padding-left: 25px;
   
    
}

h2 {
    font-size:140%;
    border-bottom: 1px solid #333;
    margin-bottom: 5px;
    font-weight: lighter;
    font-style: italic;
}

i{
    margin-left: 10px;
}

.box-float-left{
    float:left
}

/*Header*/

header {
    padding: 0 5px;
 }
  
    .fixed-header{
        width: 100%;
        position: fixed;        
        padding-bottom: 5px;
        top:0;
        background: #fff;
        z-index: 2;
        

    }
   

/* Logo */

#logo a {
    text-decoration: none;
}

#logo{
    float:left;
}

/* Navigation */

#menu {float: right;

}

#menu li{
    float: left;
    list-style-type: none;
    margin-right: 30px;
   }

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 2px solid #A90D0D;
    color: #A90D0D;
}

#menu, #logo {
    line-height: 75px;
}


/*Column Settings*/

.col2{
    width: 50%;
    float:left;

}

.col3{
    width:33%;
}
/*Main Content Box*/

#content-boxs{
   clear: both;
    margin:20px;
    margin-top: 100px;

   
}

/*Sections in Main Content Box - Start*/

#content-boxs > section{
   margin-top: 10px;
}
/* Hero Image */

#hero-outer{
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image1{
    background-color: gold;
    height:400px;
    background: url('../images/children_practicing_soccer.png') no-repeat center center;
    background-size: cover;
    
}
#hero-image2{
    background-color: gold;
    height:400px;
    background: url('../images/children_jumping.png') no-repeat center center;
    background-size: cover;
    
}

#hero-image1, #hero-image2{
    border: 2px solid #fff;
    box-sizing: border-box;
}

#hero-textbox{
    width:33%;
    position: absolute;
    top:50%;
    left:33%;
    background:rgba(169, 13, 13,0.6);
    color:#fff;
    text-align: center;
    font-size: 300%;
    text-transform: uppercase;
}

/*About Us*/

#about-us{
    clear:both;
   margin-bottom: 20px;
      display: block;
}

#about-us p{
   width: 80%;
   margin: 0 auto;
}

/*Services*/

#services{
        height:400px;

}
#services-summary-left a:hover, #services-summary-center a:hover{
    color: #A90D0D;
     
}
 
#services h2 {
    text-align: center;
    margin: 20px;
    padding: 20px 0;
    border: 1px solid #333;
    border-radius: 20px;
}

.slide-left {
        overflow:hidden;
        float: right;
        
  }
 .slide-left div.inner {
    animation: slide-left 3s;
    margin-top:0%;
    
  }
  
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
  }

#image-right{
   
    background: url('/assets/images/hand-holding-caryons.jpg') no-repeat center center;
    background-size: cover;
   
    }



/*Contact Us*/
#contact-us{
    background-color: crimson;
    height:400px;
}
/*Sections in Main Content Box - End*/

/*Footer*/

footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks > li{
    display: inline;

}

.social-networks i:hover{
    color:#333;

}



.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding:5%;
    color:#A90D0D;
}